# IDE
/.vscode

# user space
/user/

# data
/data/

# docker images
/docker/images/*.tar
/docker/images/**/*.tar

# gen files
build/
devel
planning/planning_conf.yaml
planning/conf/
planning/file/
perception/perception_conf.yaml
perception/conf/
perception/file/
cartographer_ros/
