# IDE
#/.vscode

# user space
/user/

# data
/data/log/
/data/core/

# docker images
/docker/images/*.tar
/docker/images/**/*.tar

# gen files
/build/
/devel/
/src/planning/file/
/src/cartographer_ros/
