<!--
  wf add at 2019.1.19
  launch文件的三个配置参数依次为pbstream文件路径，需要保存的ros格式map文件路径（注意不带文件后缀名），分辨率。
  eg:
  roslaunch cartographer_ros offline_pbstream_to_rosmap.launch pbstream_filename:=/home/cabin/Desktop/carto_map.pbstream map_filestem:=/home/cabin/Desktop/ros_map resolution:=0.05

-->

<launch>
  <node name="cartographer_pbstream_to_ros_map" pkg="cartographer_ros"
      type="cartographer_pbstream_to_ros_map" args="
          -pbstream_filename /home/nvidia/my-code/auto-car/ros/src/cartographer_ros/cartographer_ros/map/map2.pbstream
          -map_filestem /home/nvidia/Desktop/map
          -resolution 0.05"
      output="screen">
  </node>
</launch>
