<?xml version="1.0"?>
<launch>
  <node pkg="chassis" type="chassis_node" name="chassis_node" output="screen" >
  </node>
  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <include file="$(find cartographer_ros)/launch/demo_backpack_2d_localization.launch"/>
  <!-- 离线存图 -->
  <node name="cartographer_pbstream_to_ros_map" pkg="cartographer_ros"
  type="cartographer_pbstream_to_ros_map" args="
      -pbstream_filename /home/nvidia/my-code/auto-car/ros/src/cartographer_ros/cartographer_ros/map/map2.pbstream
      -map_filestem /home/nvidia/my-code/auto-car/ros/file/map/labmap
      -resolution 0.05"
  output="screen">
  </node>
  <!-- 运行节点 -->
  <node pkg="control" type="control_node" name="control_node" output="screen" >
  </node>
  <node pkg="planning" type="planning_node" name="planning_node" output="screen" >
  </node>
  <node pkg="perception" type="perception_node" name="perception_node" output="screen" >
  </node>
  <node pkg="show_tool" type="show_tool_node" name="show_tool_node" output="screen" >
  </node>
  <!--node name = "rqt_pub" pkg ="rqt_ez_publisher" type ="rqt_ez_publisher" args ="-slider-file $(find control)/conf/setting.yaml" /-->
  <node pkg="rosbag" type="record" name="bag_record" args="-a -O /home/nvidia/my-code/auto-car/bag/test.bag"/>
</launch>
 
