<?xml version="1.0"?>
<launch>
  <node name="cartographer_pbstream_to_ros_map" pkg="cartographer_ros"
      type="cartographer_pbstream_to_ros_map" args="
          -pbstream_filename $(find planning)/planning/file/map
          -map_filestem $(find cartographer_ros)/map/map2.pbstream
          -resolution 0.05"
      output="screen">
  </node>
</launch>

